<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--<context:property-placeholder location="classpath:application.properties" ignore-unresolvable="true"/>-->

    <aop:aspectj-autoproxy/>
    <aop:config proxy-target-class="true"/>

    <context:annotation-config/>
    <context:component-scan base-package="com.jack.jackdawson"/>

    <jpa:repositories base-package="com.jack.jackdawson.repository.jack"
                      entity-manager-factory-ref="entityManagerFactory"
                      transaction-manager-ref="transactionManager"/>

    <tx:annotation-driven proxy-target-class="true"/>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="rwDataSource"/>
        <property name="packagesToScan" value="com.jack.jackdawson.entity.jack"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="databasePlatform" value="org.hibernate.dialect.MySQL55Dialect"/>
                <property name="generateDdl" value="true"/>
                <property name="showSql" value="true"/>
            </bean>
        </property>
    </bean>

    <bean id="rwDataSource" class="com.jack.jackdawson.common.database.DBRouter">
        <property name="targetDataSources">
            <map key-type="com.jack.jackdawson.common.database.Strategy">
                <entry key="MASTER" value-ref="jackMaster"/>
                <entry key="SLAVE" value-ref="jackMaster"/>
            </map>
        </property>
        <property name="defaultTargetDataSource" ref="jackMaster"/>
    </bean>

</beans>